#===============================================================================
#
#          FILE: coproc_command_list.rc
# 
#         USAGE: ./coproc_command_list.rc 
# 
#   DESCRIPTION: configuration file for coproc items
# 
#       OPTIONS: 
#  REQUIREMENTS: gxbase/extras/bashrc and friends
#          BUGS: ---
#         NOTES: whitespace and lines starting with # or whitespace+# are ignored
#        AUTHOR: Gabriel Thomas Sharp (gts), osirisgothra@hotmail.com
#  ORGANIZATION: Paradisim Enterprises, LLC - http://paradisim.twilightparadox.com
#       CREATED: 10/04/2014 20:33
#      REVISION:  ---
#===============================================================================
# kind: owned = can be put in fg again using fg %/#, disowned=bye bye, ignored=disowned+silent
#      silent = run in bg, quietly

#process	kind 

# background-owned process

updatedb	owned

# background-disowned processes


firefox	  disowned
chrome		disowned
zsnes			disowned

# background-owned, > null processes

xterm			silent

# background-disowned, > null processes

komodo		ignored


