apt-get
apt-mark
dpkg
aptsh
mount
umount
chmod
chown
chgrp
adduser
useradd
addgroup
fdisk
fsck
swap
mountall
nano
reboot
shutdown
pm-hibernate
pm-suspend
pm-powersave
login
passwd
chroot
nice
renice
ionice
top
htop
iotop
